/* *{
    box-sizing: border-box;
  
} */

#nav{
    margin-left: 324px;
    height: 56px;
    background-color: #121212;
}

body {
    font-family: sans-serif;
    color: #FFF;
}

.border {
    border: 1px solid red;
}

.label1 {
    color: red;
    line-height: 0.3em;
    font-size: 150%;
    font-weight: bold;
    padding: 3px;
}

.label2 {
    color: #2d4595;
    line-height: 0.1em;
    font-size: 180%;
    font-weight: bold;
    padding: 2px;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 324px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
    background-color: #121212;
    transition: 0.4s;
    
}

.sidebar-header {
    width: 100%;
    margin-bottom: 16px;

}

.logo-img {
    width: 80px;
    min-height: 42px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s;
    margin-left: 12px;
}

.logo-img:hover {
    transform: scale(2.0);
}

/* CALENDÁRIO INICIO */
:root{
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #9796f0;
    --blue: #0000ff;
    --blue-dk: #2d4595;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 8px;
    --font-family: consolas;
}
.calendar{
    height: 360px;
    width: 266px;
    background-color: #FFF;
    color: #000;
    border-radius: 25px;
    overflow: hidden;
    padding: 20px 30px 0px 30px;
    box-shadow: var(--shadow);
}

.calendar-header{
    background: #2d4595;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
}

.calendar-body{
    pad: 10px;
}

.calendar-week-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: rgb(104, 104, 104);
}

.calendar-week-days div:hover{
    color: #000;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.calendar-week-days div{
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
}

.calendar-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div{
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.month-picker{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover{
    background-color: var(--color-hover);
}

.month-picker:hover{
    color: var(--color-txt);
}

.year-picker{
    display: flex;
    align-items: center;
}

.year-change{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.year-change:hover{
    background-color: var(--light-btn);
    transition: all .2s ease-in-out;
    transform: scale(1.12);
}

.year-change hover pre{
    color: var(--bg-body);
}

.calendar-footer{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.calendar-days div span{
    position: absolute;
}

.calendar-days div:hover{
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #fbc7d4;
    border-radius: 20%;
    color: var(--dark-text);
}

.month-list{
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
}

.month-list > div{
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.month-list > div > div{
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.month-list > div > div:hover{
    background-color: var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}

.month-list .show{
    visibility: visible;
    pointer-events: visible;
    transition: 0.6 ease-in-out;
    animation: to-left .71s forwards;
}

.month-list.hideonce{
    visibility: hidden;
}

.month-list.hide{
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
}

.date-time-formate{
    width: max-content;
    height: max-content;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: inline;
    top: 140px;
    justify-content: center;
}

.date-text-formate{
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #2d4595;
    position: absolute;
    left: -1rem;
}

.date-time-value{
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -18px;
    text-align: center;
}

.time-formate{
    font-size: 1.5rem;
}

.time-formate.hideTime{
    animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime{
    animation: hidetime 1.5s forwards;
}

.date-formate.hideTime{
    animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime{
    animation: showtime 1s forwards;
}

.time-formate.showtime{
    animation: showtime 1s forwards;
}

.date-formate.showtime{
    animation: showtime 1s forwards;
}

@keyframes to-top{
    0%{
        transform: translateY(0);
        opacity: 0;
    }100%{
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes to-left{
    0%{
        transform: translateX(230%);
        opacity: 1;
    }100%{
        transform: translateX(230%);
        opacity: 1;
    }
}

@keyframes to-right{
    10%{
        transform: translateX(0%);
        opacity: 1;
    }100%{
        transform: translateX(-150%);
        opacity: 1;
    }
}

@keyframes showtime{
    0%{
        transform: translateX(150%);
        opacity: 1;
    }100%{
        transform: translateX(230%);
        opacity: 1;
    }
}

@keyframes hidetime{
    0%{
        transform: translateX(0%);
        opacity: 1;
    }100%{
        transform: translateX(-370%);
        opacity: 1;
    }
}

@media (max-width:375px){
    .month-list>div{
        margin: 5px 0px;
    }
}

/* CALENDÁRIO FIM */

.sidebar button {
    height: 60px;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button>span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: 0.5s;
}

.sidebar button:hover>span {
    background: rgba(255, 255, 255, 0.10);
}

.sidebar icon i {
    position: relative;
    font-size: 30px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px;

}

.sidebar>nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;

}

/* Ajustar a SideBar com somente os ícones */
@media (width < 920px) {
    .sidebar {
        width: 82px;
    }

    .sidebar button>span {
        width: 50px;
    }

    .sidebar button>span>span {
        opacity: 0;
        visibility: hidden;

    }

    .main {
        transition: margin 0.6s;
        margin-left: 78px;

    }
    #nav{
        transition: margin 0.6s;
        margin-left: 78px;

    }
}

/* Ajustar Menu para Mobile */

.button-mobile {
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent;
    color: #FFF;
    border: 0;
}

.button-mobile span {
    font-size: 24px;
    margin-left: 8px;
}

.button-close span i {
    font-size: 42px;
}

.menu-mobile {
    display: none;
}

.menu-mobile-active {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button {
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
}

.menu-mobile-active button>span {
    display: inline-flex;
    align-items: center;
}

.mobile-text {
    font-size: 22px;
    margin-left: 8px;
}

@media (max-widht: 480px) {
    .sidebar {
        display: none;
    }

    .button-mobile {
        display: flex;
    }

    .main {
        margin-left: 6px;
    }
    #nav{
        margin-left: 6px;
    }
}


table {
    border: 1px;
    border-collapse: collapse;
    margin-left: 350px;
    color: #000;
}

th,td {
    padding: 10px;
    text-align: center;
}

thead tr {
    border-bottom: solid 3px #444;
}

tbody tr:hover {
    background-color: #8f8a8a;
}
td.num{
    color: blue;
    font-style: normal;
}
tr.numPausa{
    color: red;
}